.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chatWindow {
  border: 1px solid #ccc;
  padding: 20px;
  width: 600px;
  height: 450px;
  overflow-y: auto;
  background-color: #f7f7f7;
}

.chatInput {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.message {
  padding: 5px 5px;
  margin: 10px 5px;
  border-radius: 5px;
}

.message.user {
  background-color: #E6F7FF;
  align-self: flex-end;
  margin-left: 20%;
}

.message p {
  /*small top margin only*/
  margin: 3px 0px 0px 0px;
}

.message.assistant {
  background-color: #FFFFFF;
  align-self: flex-start;
  margin-right: 20%;
}

.message.function {
  background-color: #EDEDED;
  font-family: 'Courier New', monospace;
  color: #555555;
}

.toggle-function {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}
